In [1]:
from wsi.indicators.education import build_education_df
from wsi.indicators.employment import build_employment_df

edu_world = build_education_df()

In [5]:
edu_world
edu_world['Year'].max()

np.int64(2023)

In [ ]:
emp_world = build_employment_df()
emp_world

     ISO_code  Year  Employment
0         ABW  2011   69.688359
1         AFG  2008   48.240352
2         AFG  2012   16.858257
3         AFG  2014   22.798185
4         AFG  2017   20.883585
...       ...   ...         ...
2885      ZWE  2014   82.014813
2886      ZWE  2019   68.255373
2887      ZWE  2021   64.499665
2888      ZWE  2022   63.862897
2889      ZWE  2023   65.737269

[2890 rows x 3 columns]

In [4]:
emp_world['Year'].max()

np.int64(2024)